<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SockJS Chat WebSocket</title>
    <!--
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    -->
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/chat.css"/>
    <!--
    <script src="webjars/jquery/3.3.1/dist/jquery.slim.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.js"></script>
    -->
    <script src="webjars/sockjs-client/1.1.4/dist/sockjs.min.js"></script>
    <script src="webjars/stomp-websocket/2.3.4/lib/stomp.min.js"></script>
    <script src="webjars/angular/1.6.9/angular.min.js"></script>
    <!--
    <script src="webjars/angular-ui-bootstrap/2.5.6/dist/ui-bootstrap.js"></script>
    -->
    <script src="js/angular-bootstrap-sockjs-application.js"></script>
    <script src="js/controller/chat-controller.js"></script>
</head>

<body ng-app="angular.bootstrap.sockjs" ng-cloak ng-controller="chatController">

<div id="header" align="center">
    <h3 data-ng-bind="vm.header" data-ng-init="vm.header='SockJS Websocket Chat'"></h3>
    <p data-ng-show="!vm.connected">Connecting...</p>
    <p>{{vm.content}}</p>
</div>

<div id="content" class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="panel-title">Chat room</h5>
                </div>
                <div id="messageConsoleBody" class="card-body">
                    <p data-ng-repeat="message in vm.messages">
                        <span class="time">{{message.date | date:'shortDate'}} {{message.date | date:'shortTime'}}</span>
                        <span class="author"> {{message.author}} </span> :
                        <span class="text">{{message.message}}</span>
                    </p>
                </div>
            </div>
            <br/>
            <span data-ng-show="!vm.name">Enter your name:</span>
            <div data-ng-show="vm.logged">
                <span><b>{{vm.name}}</b> says:</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="vm.input" ng-keydown="inputKeyDown($event)"
                       data-ng-disabled="!vm.connected" x-webkit-speech
                />
            </div>
        </div>
    </div>
</div>
</body>
</html>

