<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SockJS Chat WebSocket</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/chat.css"/>
    <!--
    <script src="webjars/jquery/3.3.1/dist/jquery.slim.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.js"></script>
    -->
    <script src="webjars/sockjs-client/1.1.4/dist/sockjs.min.js"></script>
    <script src="webjars/stomp-websocket/2.3.4/lib/stomp.min.js"></script>
    <script src="webjars/angular/1.6.9/angular.min.js"></script>
    <!--
    <script src="webjars/angular-ui-bootstrap/2.5.6/dist/ui-bootstrap.js"></script>
    -->
    <script src="js/angular-bootstrap-sockjs-application.js"></script>
    <script src="js/controller/chat-controller.js"></script>
</head>

<body ng-app="angular.bootstrap.sockjs" ng-cloak ng-controller="chatController">

<div id="header" align="center">
    <h3 data-ng-bind="model.header" data-ng-init="model.header='SockJS Websocket Chat'"></h3>
    <p data-ng-show="!model.connected">Connecting...</p>
    <p>{{model.content}}</p>
</div>

<div id="content" class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Chat room</h3>
            </div>
            <div class="panel-body">
                <div class="messages">
                    <p data-ng-repeat="message in model.messages">
                        <span class="time">{{message.date | date:'shortDate'}} {{message.date | date:'shortTime'}}</span>
                        <span class="author"> {{message.author}} </span> :
                        <span class="text">{{message.message}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <span data-ng-show="!model.name">Enter your name:</span>
    <div data-ng-show="model.logged">
        <span><b>{{model.name}}</b> says:</span>
    </div>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-9">
                <input type="text" class="form-control" ng-model="model.input" ng-keydown="inputKeyDown($event)"
                       data-ng-disabled="!model.connected" x-webkit-speech
                />
            </div>
        </div>
    </form>
</div>
</body>
</html>

